<div class="jumbotron text-center">
	<h1>เว็บรวบรวมเพลงพระราชนิพนธ์</h1>

	<h2>
		.
	</h2>

	<%= link_to "เพลง ยิ้มสู้", '/kingsong1', class: "btn btn-lg btn-primary" %>
	<%= link_to "เพลง ยามเย็น", '/kingsong2', class: "btn btn-lg btn-primary" %>
	
</div>
