<% provide(:title, 'เพลง ยิ้มสู้') %>
<div class="row">
	<div class="col-md-6 col-xs-12">
		<h1 class="page-header">
			เพลงพระราชนิพนธ์ : ยิ้มสู้
		</h1>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/AJGM_ScVgr8" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
		<div class="panel panel-body">
			<p>ทำนอง : พระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดช</p>
			<p>คำร้อง : พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ</p>
		</div>
	</div>

	<div class="col-md-6 col-xs-12">
		<div class="alert alert-default text-center">
			<p>โลกจะสุขสบายนั้นเป็นได้หลายทาง</p>
			<p>ต้องหลบสิ่งกีดขวางหนทางให้พ้นไป</p>
			<p>จะสบความสุขสันต์สำคัญที่ใจ</p>
			<p>สุขและทุกข์อย่างไรเพราะใจตนเอง</p>
			<p>ฝ่าลู่ทางชีวิตต้องคิดเฝ้าย้อมใจ</p>
			<p>โลกมืดมนเพียงใดหัวใจอย่าคร้ามเกรง</p>
			<p>ตั้งหน้าชื่นเอาไว้ย้อมใจด้วยเพลง</p>
			<p>ไยนึกกลัวหวาดเกรงยิ้มสู้</p>
			<p><br></p>
			<p>* คนเป็นคนจะจนหรือมี</p>
			<p>ร้ายหรือดีคงมีหวังอยู่</p>
			<p>ยามปวงมารมาพาลลบหลู่</p>
			<p>ยิ้มละมัยใจสู้หมู่มวลเภทภัย</p>
			<p>ใฝ่กระทำความดีให้มีจิตโสภา</p>
			<p>สร้างแต่ความเมตตาหาความสุขสันต์ไป</p>
			<p>จะสบความสุขสันต์สำคัญที่ใจ</p>
			<p>เฝ้าแต่ยิ้มสู้ไปแล้วใจชื่นบาน</p>
			<p><br></p>
			<p>ซ้ำ (*)</p>
		</div>
	</div>

</div>
