<% provide(:title, 'เพลง ยามเย็น') %>
<div class="row">
	<div class="col-md-6 col-xs-12">
		<h1 class="page-header">
			เพลงพระราชนิพนธ์ : ยามเย็น
		</h1>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/yqgZYQOP1PQ" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
		<div class="panel panel-body">
			<p>ทำนอง : พระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดช</p>
			<p>คำร้อง : พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ</p>
		</div>
	</div>

	<div class="col-md-6 col-xs-12">
		<div class="alert alert-default text-center">
			<p>แดดรอนรอน</p>			
			<p>เมื่อทินกรจะลับเหลี่ยมเมฆา</p>
			<p>ทอแสงเรืองอร่ามช่างงามตา</p>	
			<p>ในนภาสลับจับอัมพร</p>
			<p><br /></p>
			<p>แดดรอนรอน</p>			
			<p>เมื่อทินกรจะลาโลกไปไกล</p>
			<p>ยามนี้จำต้องพรากจากดวงใจ</p>	
			<p>ไกลแสนไกลสุดห่วงยอดดวงตา</p>
			<p><br /></p>
			<p>แต่ก่อนเคยคลอเคลียกัน</p>		
			<p>ทุกวันคืนรื่นอุรา</p>
			<p>ต้องอยู่เดียวเปลี่ยนวิญญาณ์	</p>
			<p>เหมือนดังนภาไร้ทินกร</p>
			<p><br /></p>
			<p>แดดรอนรอน		</p>	
			<p>หากทินกรจะลาโลกไปไกล</p>
			<p>ความรักเราคงอยู่คู่กันไป		</p>
			<p>ในหัวใจคงอยู่คู่เชยชม</p>
			<p><br /></p>
			<p>แดดรอนรอน		</p>	
			<p>หมู่มวลภมรบินลอยล่องตามลม</p>
			<p>คลอเคล้าพฤกษาชาติชื่นเชยชม	</p>
			<p>ชมสมตามอารมณ์ล่องเลยไป</p>
			<p><br /></p>
			<p>ลิ่วลมโชย			</p>
			<p>กลิ่นพรรณไม้โปรยโรยร่วงห่วงอาลัย</p>
			<p>ยามสายัณห์พลันพรากจากดวงใจ </p>
			<p>คอยแสงทองวันใหม่กลับคืนมา</p>
			<p><br /></p>
			<p>แต่ก่อนเคยคลอเคลียกัน</p>
			<p>ทุกวันคืนชื่นอุรา</p>
			<p>ต้องอยู่เดียวเปลี่ยววิญญาณ์	</p>
			<p>เหมือนดังนภาไร้ทินกร</p>
			<p><br /></p>
			<p>โอ้ยามเย็น			</p>
			<p>จวบยามนี้เป็นเวลาสุดอาวรณ์</p>
			<p>ยามไร้ความสว่างห่างทินกร	</p>
			<p>ยามรักจำจะจรจากกันไป</p>

		</div>
	</div>

</div>
