	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<%= link_to "เว็บรวบรวมเพลงพระราชนิพนธ์", '/', id: "logo" %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "หน้าแรก", '/' %></li>
					<li><%= link_to "ยิ้มสู้", 'kingsong1' %></li>
					<li><%= link_to "ยามเย็น", '/kingsong2' %></li>
				</ul>
			</nav>
		</div>
	</header>
